<h1>
  <%= I18n.t('user_mailer.welcome.salutation', name: @user.first_name) %>
</h1>
<p>
  <%= I18n.t('user_mailer.welcome.account_created') %>
</p>
<p>
  <%= I18n.t('user_mailer.welcome.reset_password_instructions') %>
  <a href="<%= @reset_password_url %>"><%= @reset_password_url %></a>
</p>
